* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root {
    --v: rgb(255, 0, 255);
    --dv: rgb(196, 15, 196);
    --font: hsl(217, 54%, 11%);
    --line: hsl(215, 32%, 27%);
    --smoke: 2px 2px 10px inset rgba(0, 0, 0, 0.25)
}
.icon {
    width: 1em;
    height: 1em;
    transform: translateY(10%);
}
.thin {
    font-weight: 300;
    font-size: 16px;
}
body {
    height: 100vh;
    background-image: conic-gradient(red,blue);
    background-repeat: no-repeat;
    color: var(--font);
}

/* Figure */
figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid var(--font);
    padding: 1.5em;
    box-shadow: var(--smoke);
    display: flex;
    flex-direction: column;
}
figure .box {
    position: relative;
}
figure .box::before {
    content: '';
    width: 3em;
    height: 2em;
    background: url("../images/icon-view.svg") no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}
figure .box::after {
    content: '';
    width: 100%;
    height: calc(100% - 4px);
    background-color: var(--v);
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.5;
    border-radius: 0.5em;
    display: none;
}
figure .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
    position: relative;
}

/* FigC */
figcaption {
    margin-top: 1em;
    line-height: 1.5;
    max-inline-size: 35ch;
    font-size: 18px;
}
figcaption > *:not(.foot) {
    margin-bottom: 1em;
}
.info {
    display: flex;
    justify-content: space-between;
}
.eth {
    color: var(--v);
    font-weight: 500;
}
.hr {
    height: 1px;
    background-color: var(--line);
}
.foot {
    display: flex;
    align-items: center;
}
.foot img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 1em;
}
.foot figcaption {
    margin-left: 20px;
}
a {
    color: var(--font);
    text-decoration: none;
}


/* Event */
.box:hover,
.box:hover::before,
.box:hover::after {
    cursor: pointer;
    display: block;
}
a {
    color: var(--v);
    font-weight: 500;
}
a:hover {
    color: var(--dv);
    font-weight: 600;
}

/* Font */
@font-face {
    font-family: 'Outfit';
    src: url('../Font/Outfit/Outfit-VariableFont_wght.ttf');
}